<h1>Listing Student Rooms</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Room</th>
      <!--<th>Grade</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_rooms.each do |student_room| %>
      <tr>
        <td><%= student_room.user.name %></td>
        <td><%= student_room.room.title %></td>
        <!--<td><%= student_room.grade %></td>-->
        <td><%= link_to 'Show', student_room %></td>
        <td><%= link_to 'Edit', edit_student_room_path(student_room) %></td>
        <td><%= link_to 'Delete', student_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


